@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;900&display=swap');



@font-face {
    font-family: miFuente;
    src: url(../fuentes/fuente-bold.otf);
    font-weight: 700;

}

@font-face {
    font-family: miFuente;
    src: url(../fuentes/fuente-light.otf);
    font-weight: 400;

}

body {
    font-family: miFuente;
}



h2 {
    font-weight: 700;
}

h1 {
    font-weight: 400;
}



h3 {font-family: 'Roboto', sans-serif;
font-weight:400;}

